
<%= form_for :album, url: 'create', html: { role: "form"} do |f| %>
  <div class="form-group">
  	title: <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
  	genre : <%= f.text_field :genre, class: "form-control" %>
  </div>
  <div class="form-group">
  	file : <%= f.file_field :image %>
  </div>
  <%= f.submit class:'btn btn-default'%>
<% end %>