
<%= form_for :post, url: 'create', html: { role: "form"} do |f| %>
  <div class="form-group">
  	title: <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
  	genre : <%= f.text_field :genre, class: "form-control" %>
  </div>
  <div class="form-group">
  	file : <%= file_field(:post, :cover, accept: 'image/png,image/gif,image/jpeg') %>
  </div>
  <%= f.submit class:'btn btn-default'%>
<% end %>